[submodule "src/main/protobuf"]
	path = src/main/protobuf
	url = https://github.com/karim-bouchez/moubah-gRPC-communication
[submodule "music-remover"]
	path = music-remover
	url = https://github.com/karim-bouchez/music-remover
