@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
/* .draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.undraggable {
    -webkit-app-region: no-drag;
} */

@layer base {
    .bg-highlight {
        @apply bg-highlight-light dark:bg-highlight-dark;
    }
    .text-highlight {
        @apply text-highlight-light dark:text-highlight-dark;
    }

    .divide-background {
        @apply divide-background-light dark:divide-background-dark;
    }
    .ring-background {
        @apply ring-background-light dark:ring-background-dark;
    }
    .ring-offset-background {
        @apply ring-offset-background-light dark:ring-offset-background-dark;
    }
    .border-background {
        @apply border-background-light dark:border-background-dark;
    }
    .bg-background {
        @apply bg-background-light dark:bg-background-dark;
    }
    .text-background {
        @apply text-background-light dark:text-background-dark;
    }

    .divide-base-100 {
        @apply divide-base-100-light dark:divide-base-100-dark;
    }
    .ring-base-100 {
        @apply ring-base-100-light dark:ring-base-100-dark;
    }
    .ring-offset-base-100 {
        @apply ring-offset-base-100-light dark:ring-offset-base-100-dark;
    }
    .border-base-100 {
        @apply border-base-100-light dark:border-base-100-dark;
    }
    .bg-base-100 {
        @apply bg-base-100-light dark:bg-base-100-dark;
    }
    .text-base-100 {
        @apply text-base-100-light dark:text-base-100-dark;
    }

    .divide-base-200 {
        @apply divide-base-200-light dark:divide-base-200-dark;
    }
    .ring-base-200 {
        @apply ring-base-200-light dark:ring-base-200-dark;
    }
    .ring-offset-base-200 {
        @apply ring-offset-base-200-light dark:ring-offset-base-200-dark;
    }
    .border-base-200 {
        @apply border-base-200-light dark:border-base-200-dark;
    }
    .bg-base-200 {
        @apply bg-base-200-light dark:bg-base-200-dark;
    }
    .text-base-200 {
        @apply text-base-200-light dark:text-base-200-dark;
    }

    .divide-base-300 {
        @apply divide-base-300-light dark:divide-base-300-dark;
    }
    .ring-base-300 {
        @apply ring-base-300-light dark:ring-base-300-dark;
    }
    .ring-offset-base-300 {
        @apply ring-offset-base-300-light dark:ring-offset-base-300-dark;
    }
    .border-base-300 {
        @apply border-base-300-light dark:border-base-300-dark;
    }
    .bg-base-300 {
        @apply bg-base-300-light dark:bg-base-300-dark;
    }
    .text-base-300 {
        @apply text-base-300-light dark:text-base-300-dark;
    }

    .divide-base-400 {
        @apply divide-base-400-light dark:divide-base-400-dark;
    }
    .ring-base-400 {
        @apply ring-base-400-light dark:ring-base-400-dark;
    }
    .ring-offset-base-400 {
        @apply ring-offset-base-400-light dark:ring-offset-base-400-dark;
    }
    .border-base-400 {
        @apply border-base-400-light dark:border-base-400-dark;
    }
    .bg-base-400 {
        @apply bg-base-400-light dark:bg-base-400-dark;
    }
    .text-base-400 {
        @apply text-base-400-light dark:text-base-400-dark;
    }

    .divide-base-500 {
        @apply divide-base-500-light dark:divide-base-500-dark;
    }
    .ring-base-500 {
        @apply ring-base-500-light dark:ring-base-500-dark;
    }
    .ring-offset-base-500 {
        @apply ring-offset-base-500-light dark:ring-offset-base-500-dark;
    }
    .border-base-500 {
        @apply border-base-500-light dark:border-base-500-dark;
    }
    .bg-base-500 {
        @apply bg-base-500-light dark:bg-base-500-dark;
    }
    .text-base-500 {
        @apply text-base-500-light dark:text-base-500-dark;
    }

    .divide-base-600 {
        @apply divide-base-600-light dark:divide-base-600-dark;
    }
    .ring-base-600 {
        @apply ring-base-600-light dark:ring-base-600-dark;
    }
    .ring-offset-base-600 {
        @apply ring-offset-base-600-light dark:ring-offset-base-600-dark;
    }
    .border-base-600 {
        @apply border-base-600-light dark:border-base-600-dark;
    }
    .bg-base-600 {
        @apply bg-base-600-light dark:bg-base-600-dark;
    }
    .text-base-600 {
        @apply text-base-600-light dark:text-base-600-dark;
    }

    .divide-base-700 {
        @apply divide-base-700-light dark:divide-base-700-dark;
    }
    .ring-base-700 {
        @apply ring-base-700-light dark:ring-base-700-dark;
    }
    .ring-offset-base-700 {
        @apply ring-offset-base-700-light dark:ring-offset-base-700-dark;
    }
    .border-base-700 {
        @apply border-base-700-light dark:border-base-700-dark;
    }
    .bg-base-700 {
        @apply bg-base-700-light dark:bg-base-700-dark;
    }
    .text-base-700 {
        @apply text-base-700-light dark:text-base-700-dark;
    }

    .divide-base-800 {
        @apply divide-base-800-light dark:divide-base-800-dark;
    }
    .ring-base-800 {
        @apply ring-base-800-light dark:ring-base-800-dark;
    }
    .ring-offset-base-800 {
        @apply ring-offset-base-800-light dark:ring-offset-base-800-dark;
    }
    .border-base-800 {
        @apply border-base-800-light dark:border-base-800-dark;
    }
    .bg-base-800 {
        @apply bg-base-800-light dark:bg-base-800-dark;
    }
    .text-base-800 {
        @apply text-base-800-light dark:text-base-800-dark;
    }

    .divide-base-900 {
        @apply divide-base-900-light dark:divide-base-900-dark;
    }
    .ring-base-900 {
        @apply ring-base-900-light dark:ring-base-900-dark;
    }
    .ring-offset-base-900 {
        @apply ring-offset-base-900-light dark:ring-offset-base-900-dark;
    }
    .border-base-900 {
        @apply border-base-900-light dark:border-base-900-dark;
    }
    .bg-base-900 {
        @apply bg-base-900-light dark:bg-base-900-dark;
    }
    .text-base-900 {
        @apply text-base-900-light dark:text-base-900-dark;
    }
}
